*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.ser
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
ardf/build/*
app/build/*
gg_y/build/*
ardf/local.properties
ardf/project.properties
app/src/main/java/com/lfp/androidrapiddevelopmentframework/activity/TestActivity2.java
app/src/main/java/com/lfp/androidrapiddevelopmentframework/activity/TestMainActivity.java
app/app_ardf_secretkey.jks
