<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lfp.androidrapiddevelopmentframework">


    <!-- 动态权限申请 -->
    <!-- LBS定位权限 -->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"   android:protectionLevel="signature"/>


    <application
        android:name=".app.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".activity.TestMainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" >


        </activity>

        <activity
            android:name=".activity.LoadingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentStateBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.module.home.HomeActivity"
            android:launchMode="singleTask" />


        <!-- 声明SDK所需要的组件 -->
        <receiver android:name=".app.XGPushReceiver">
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <!--Demo activity-->
        <activity android:name=".demo.Demo_BaseRecyclerViewAdapter" />
        <activity android:name=".demo.Demo_NetRequest" />
        <activity android:name=".demo.Demo_RadioGroupControl" />
        <activity android:name=".demo.Demo_WebActivity" />
        <activity android:name=".demo.visualeffect.Demo_Shadow" />
        <activity android:name=".demo.utils.Demo_BarUtils" />
        <activity android:name=".demo.utils.DemoList_Utils" />
        <activity android:name=".demo.visualeffect.DemoList_VisualEffect" />
        <activity android:name=".demo.visualeffect.Demo_ProgressBar" />
        <activity android:name=".demo.visualeffect.Demo_Game" />
    </application>

</manifest>